@import "tailwindcss";
@plugin "daisyui" {
  themes:
    fantasy --default,
    dark --prefersdark;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

@media (prefers-color-scheme: dark) {
  canvas {
    filter: invert(1) hue-rotate(180deg);
  }
}
