@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "fantasy";
  default: true;
  --color-primary: oklch(38% 0.2147 264.26);
  --color-primary-content: oklch(88% 0.018 264.26);
  --color-secondary: oklch(54% 0.2178 29.23);
  --color-secondary-content: oklch(91% 0.028 29.23);
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-primary: oklch(58% 0.2147 264.26);
  --color-primary-content: oklch(96% 0.018 264.26);
  --color-secondary: oklch(65% 0.2178 29.23);
  --color-secondary-content: oklch(94% 0.028 29.23);
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

@media (prefers-color-scheme: dark) {
  canvas {
    filter: invert(1) hue-rotate(180deg);
  }
}